.perfil-container {
    background-color: #f6f6f6;
    width: 75%;
    height: 85%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;
    display: flex;
    margin-top: 70px;
}

.profile-cat {
    width: 40%;
    position: absolute;
    right: 0;
    align-self: center;
    opacity: 1;
    cursor: pointer;
}

.profile-cat:hover {
    opacity: 0.8;
}

.data {
    width: 60%;
    list-style-type: none;
    display: flex;
    margin: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    padding-top: 50px;
    justify-content: center;
    z-index: 1;
    position: relative;
}

.profilePhoto {
    width: 150px;
    height: 150px;
    position: relative;
}

.photo-container {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    width: 150px;
    height: 180px;
    margin-right: 5%;
}

.photo-container > p {
    cursor: pointer;
    color: rgb(0, 116, 194);
}

.photo-input {
    width: 150px;
    position: absolute;
    height: 150px;
    cursor: pointer;
    opacity: 0;
    padding-left: 0;
    margin-top: 0;
    border-radius: 100px;
    z-index: 1;
}

.profile-photo-controller {
    width: 100%;
    height: 100%;
}

.profile-photo {
    width: 100%;
    position: absolute;
    border-radius: 100px;
    height: 150px;
    border: solid 2px rgb(0, 153, 255);
}

#catEdit {
    width: 45%;
    height: 45%;
    position: absolute;
    bottom: 0;
}

.editPhoto {
    position: absolute;
    bottom: 0;
    width: 140px;
    height: 48px;
    opacity: 0;
    cursor: pointer;
}

.edit-profile {
    width: 55%;
    height: fit-content;
}

.input-format {
    width: 100%;
    margin-bottom: 15px;
}

.input-format > label {
    font-size: 20px;
    margin-left: 2px;
}

.input-format > input {
    width: 100%;
    margin-top: 5px;
    text-transform: none;
}

.edit-profile > .buttons_container {
    width: 100%;
    justify-content: space-between;
}

.edit-profile > .buttons_container > button:last-child {
    background-color: red;
    box-shadow: 0 4px 8px 0 rgba(126, 0, 0, 0.363), 0 6px 20px 0 rgba(131, 1, 1, 0.19);
}

.edit-profile > .buttons_container > button:first-child {
    background-color: rgb(48, 44, 71);
    margin-right: 20px;
}

